@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

html {
  color: #CFD8DC;
}

body {
  overflow-x: hidden;
  font-family: 'Spartan', sans-serif;
  font-size: 16px;
  background-color: #EEE2DC;
}

p {
  font-size: 18px;
}

#viewport {
  margin-left: 315px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container-fluid {
  background-color: #EEE2DC;
  padding: 3em 0 0 11em;
  color: #2d3031;
}

#sidebar {
  height: 100%;
  width: 315px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow-x: hidden;
  padding-top: 0px;
}

#sidebar header {
  background-color: #263238;
  font-size: 35px;
  line-height: 82px;
  text-align: left;
  padding-left: 1em;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav a{
  background: none;
  color: #CFD8DC;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  padding: 10px 24px;
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

#sidebar .nav a i{
  margin-right: 16px;
}

#sidebar input{
  margin-bottom: 15px;
}
#sidebar select{
  max-width: max-content;
  margin-bottom:20px;
} 

div.carousel-inner {
  background-color: #ffffff;
  filter: alpha(opacity=40); /* For IE8 and earlier */
  z-index: 0;
  }

.carousel-caption {
  position: absolute;
  font-size: 3em;
  z-index: 20;
}

.form-inline {
  margin: 2em 0 0 2em;
}

.card {
  margin-bottom: 3em !important;
  box-shadow: 5px 5px 5px grey;
  background-color: #CFD8DC;
}

.btn {
  color: #fff;
}

.btn:hover {
  background-color: #8EE4AF!important;
  color: #37474F;
}

#firstMuseum {
  background-color: #689775;
  height: 260px;
  padding-top: 30px;
}

#secondMuseum {
  background-color: #BC463A;
  height: 250px;
  padding-top: 35px;
}
#thirdMuseum {
  background-color: #379683;
  height: 250px;
  padding-top: 35px;
}

footer {
  font-size: 12px;
  text-align: center;
  color: #CFD8DC;
}

#message {
  padding: 3em 15em 0 15em;
}

.license {
 padding-top: 15px;
}