@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

html {
  color: #CFD8DC;
}

body {
  overflow-x: hidden;
  font-family: 'Spartan', sans-serif;
  color: #383c3d;
  font-size: 16px;
  margin-left: 110px;
  /* background-color: #379683; */
}

p {
  font-size: 18px;
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container-fluid {
  /* background-color: #379683; */
  background-color: #EEE2DC;
  padding: 3em 0 0 11em;
  color: #2d3031;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
  
}

ul {
  margin-top: 14em;
}

li {
  padding-right: 5em;
  margin-bottom: 2em;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 350px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

/* #sidebar .nav{
  
} */

#sidebar .nav a{
  background: none;
  /* border-bottom: 1px solid #455A64; */
  color: #CFD8DC;
  font-size: 20px;
  padding: 16px 24px;
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

#sidebar .nav a i{
  margin-right: 16px;
}
/* 
.input-group {
  margin: 2em;
  margin-right: 2em;
} */


.col {
  background-image: url('https://picsum.photos/100/150');
  background-repeat: no-repeat;
  margin: 2em;
  padding: 2em;
}

.btn {
  float: right;
}

div.carousel-inner {
  /* margin: 30px; */
  background-color: #ffffff;
  /* border: 1px solid black; */
  /* opacity: 0.4; */
  filter: alpha(opacity=40); /* For IE8 and earlier */
  z-index: 0;
  }

  .carousel-caption {
    position: absolute;
    font-size: 3em;
    z-index: 20;
}

.form-inline {
  margin: 2em 0 0 2em;
}
.thumbnail{
  height:30%;
  width:30%;
  float:right;
}
